* {
    font-family: 'Share Tech Mono', monospace, sans-serif;
}

body {
    background-color: #002c5c;
    color: #e31c79;
}

#MainNav .navbar-brand {
    /* color: #0496ff; */
    color: #ffd700;
    font-size: 1.5rem;
    font-weight: 100;
}

#MainNav .navbar-brand:hover {
    cursor: default;
}

#MainNav .nav-link {
    color: #0496ff;
}

#MainNav .nav-link:hover {
    color: white;
}

#MainNav {
    font-size: 1.5rem;
    font-weight: 100;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

.btn-submit {
    background-color: #0496ff !important;
}

.btn-submit:hover {
    background-color: #0463a8 !important;
}


@media (max-width: 1143px) {
    #GroupHeading h1 {
        font-size: 3rem;
    }
}

.frame {
    fill: #ffd700;
}

.eye {
    fill: #e31c79;
}

h1,
h2 {
    color: #ffd700;
}

.form-control {
    background-color: white;
    transition: 0.25s;
}

.form-control:hover {
    background-color: darkgray;
}